@media (prefers-color-scheme: light) {

    .highlight {
        background: #f6f8fa;
        color: #24292f;
    }

    .inline {
        background: #eaeef2;
        color: #24292f;
    }

    .keyword { color: #005cc5; }
    .string  { color: #032f62; }
    .logical { color: #d73a49; }

    .highlight .keyword { color: #0550ae; }
    .highlight .string  { color: #0a3069; }
    .highlight .logical { color: #cf222e; }
    .highlight .symbol  { color: #6e7781; }

}